<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>student data</title>
  </head>
  <body>
    <header>student data</header>
    <ul>
      <% students.forEach(function(s){ %>
      <li>
        <%= s.name%> : <%= s.enrol ? "current student" : "non-current student"
        %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
